#jumbotron{
   float:top;
    background-image: url(https://1-aegir0-camdenliving-com45.s3.amazonaws.com/styles/area_guide_backgroud/s3/camden-southend-apartments-charlotte-north-carolina-dusk-skyline-view.jpg?itok=H_KHYnwm&c=5be17cf25c7ca65d7a329bab70a979c9);
    background-size: 100%;
}

#inputFirstName{
    float:bottom;
}


.a{
   float:right; 
}
.btn{
   float:right;
   background-color: dodgerblue;
  border: none;
  padding: 12px 16px;
  color: white;
  font-size: 36px;
  cursor: pointer;
  margin-left: 30px;
}
#privacypolicy{
   color:blue;
   cursor:pointer;
}
#photo{
   right:200px;
}


