.button{
    background-color: transparent; /* Green */
    border: none;
    color: white;
    padding:15px 32px;
    text-align: top;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: top;
    float :right;
    cursor: pointer;
    color: black;
    float:top;
}
.green-border-focus .form-control:focus {
    border: 1px solid #000000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
    
}