body{
    background-color: #491895;
}
.nav{
    height: 800px;
    width: 100%;
    background-color: #fff;
    margin-right:40px;
    
    display: none;
    
}
.hamburger-menu{
    color:#fff;
    font-size:50px;
    padding-left:10px;
    padding-top:10px;
    cursor: pointer;
}
.hamburger-menu:hover{
    color:#000;
    font-size:50px;
    padding-left:10px;
    padding-top:10px;
    cursor: pointer;
}

.index-title{
    margin-top:250px;
    text-align:center;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}

.nav-header{
    padding-left:60px;
    color:#000;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.nav-points{
    padding-left:30px;
    color:#000;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
.nav-points:hover{
    color:red;
    text-decoration: none;
}
.nav-group-links{
    margin-top:200px;
}
.astric{
    color:hotpink;
}
.info-btn{
    background-color: #000;
    color:white;
    
    font-size: 15px;
    padding-top:10px;
    padding-left:17px;
    transition: color 2s;
    transition: background-color 2s;
    cursor: pointer;
}
.info-btn:hover{
    color:#000;
    background-color:white;
    cursor: pointer;
}
.icon-img-nav{
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
}
.icon-nav-container{
    padding-left:30px;
}
.rights-nav{
    padding-left:60px;
    font-size: 10px;
    color:#000;
    position: absolute;
    bottom: 0;
}
.x-nav{
    padding-left:5px;
    cursor: pointer;
    font-size: 60px;
    color:#000;
}
.open-nav{
    font-size:30px;
    color:#fff;
    cursor: pointer;
    padding-left:10px;
}

/* side nav */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .info-here{
    text-align:center;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }