body{
    background-color: #491895;
}
.nav{
    height: 800px;
    width: 100%;
    background-color: #fff;
    margin-right:40px;
    font-family: 'Raleway', sans-serif;
    
}

.index-title{
    margin-top:250px;
    margin-left:250px;
    text-align:center;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
}

.nav-header{
    padding-left:30px;
    color:#000;
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}
.nav-points{
    padding-left:30px;
    color:#000;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
.nav-points:hover{
    color:red;
    text-decoration: none;
}
.nav-group-links{
    margin-top:200px;
}
.astric{
    color:hotpink;
}
.info-btn{
    background-color: #000;
    color:white;
    margin-left:575px;
    font-size: 15px;
    padding-top:10px;
    padding-left:17px;
    transition: color 2s;
    transition: background-color 2s;
    cursor: pointer;
}
.info-btn:hover{
    color:#000;
    background-color:white;
    cursor: pointer;
}
.icon-img-nav{
    padding-left:5px;
    padding-right:5px;
    cursor: pointer;
}
.icon-nav-container{
    padding-left:30px;
}
.rights-nav{
    padding-left:30px;
    font-size: 10px;
    color:#000;
}